.container
	.row
		.col-sm-9.col-sm-offset-1
			%h1
				Welcome
				= current_user.try( :name ).titleize
	.col-sm-12.col-sm-offset-1.dashflow
		.row
			.col-sm-3.col-sm-offset-3
				.well{ style: 'text-align:center;' }
					%p
						- if @current_agency.phase_complete?( Phase.find_by( name: 'phase_1' ) ) 
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
						- else
							%i.fa.fa-circle-o{ style: 'font-size:130%;'}
						= link_to 'Phase 1', phase_path( 1 ), style: 'font-weight:bold;'
					Identify Practice & Delivery Gaps

		.row{ style: 'margin: 2em auto;' }
			.col-sm-3.col-sm-offset-1
				.well{ style: 'text-align:center;' }
					%p
						- if @current_agency.phase_complete?( Phase.find_by( name: 'phase_4' ) ) 
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
						- else
							%i.fa.fa-circle-o{ style: 'font-size:130%;'}
						%span{ style: 'font-weight: bold;' }
							-# if @current_agency.phase_complete?( Phase.find_by( name: 'phase_3' ) ) 
								= link_to 'Phase 4', phase_path( 4 )
							-# else
								Phase 4
							= link_to 'Phase 4', phase_path( 4 )
					Implementation & Sustainment
			.col-sm-3.col-sm-offset-1
				.well{ style: 'text-align:center;' }
					%p
						- if @current_agency.phase_complete?( Phase.find_by( name: 'phase_2' ) ) 
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
						- else
							%i.fa.fa-circle-o{ style: 'font-size:130%;'}
						%span{ style: 'font-weight: bold;' }
							-# if @current_agency.phase_complete?( Phase.find_by( name: 'phase_1' ) ) 
								= link_to 'Phase 2', phase_path( 2 )
							-# else
								Phase 2
							= link_to 'Phase 2', phase_path( 2 )
					Treatment Selection & Adoption Decision
		.row
			.col-sm-3.col-sm-offset-3
				.well{ style: 'text-align:center;' }
					%p
						- if @current_agency.phase_complete?( Phase.find_by( name: 'phase_3' ) ) 
							%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
						- else
							%i.fa.fa-circle-o{ style: 'font-size:130%;'}
						%span{ style: 'font-weight: bold;' }
							-# if @current_agency.phase_complete?( Phase.find_by( name: 'phase_2' ) ) 
								= link_to 'Phase 3', phase_path( 3 )
							-# else
								Phase 3
							= link_to 'Phase 3', phase_path( 3 )
					Planning for Implementation
