.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					Phase 1

	.row
		.col-sm-12
			%h1
				Phase 1: Identify Practice & Delivery Gaps
			%p
				<u>Goal</u>:
				Identify your agency’s areas of strength and areas of growth, and determine your agency’s receptivity to implementing a new research-based treatment.
	.row
		.col-sm-7
			.well
				%h4
					General Description
				%p
					The first goal of Phase 1 is to identify areas of strength to build upon, and areas of growth that your agency can address by implementation a new research-based treatment. The second goal is to determine your agency’s receptivity to implementing a new research-based treatment. Both of these goals are accomplished completing the ACT SMART Agency Assessment. 
				%p
					Agency leaders, supervisors, and direct providers at your agency will be asked to complete the confidential ACT SMART Agency Assessment. An additional option is for each of your agency’s clients or caregivers of clients to complete the Caregiver/Consumer Satisfaction Survey. 
				%p
					ACT SMART facilitators will analyze the data and provide specific feedback to your agency including: areas of strength, areas of growth, recommendations for next steps, and guidance about prioritizing agency goals.

			.well
				%h4
					Agency Assessment Outcomes and Recommendations

				%h5 Areas of Strength
				- @agency.messages.where( parent_obj: @phase, context: 'strength' ).each do |message|
					%li
						= message.content
						%a{ href: message_path( message ), data: { method: :delete, confirm: 'Are you sure?' } }
							%i.fa.fa-trash
							Delete
				= form_for Message.new do |f|
					= f.hidden_field :agency_id, value: @agency.id
					= f.hidden_field :parent_obj_id, value: @phase.id
					= f.hidden_field :parent_obj_type, value: @phase.class.name
					= f.hidden_field :context, value: 'strength'
					.row{ style: 'margin-top: 1em;' }
						.col-xs-8
							= f.text_field :content, class: 'form-control'
						.col-xs-4
							= f.submit 'Send', class: 'btn btn-primary'

				%h5 Areas for Growth
				- @agency.messages.where( parent_obj: @phase, context: 'growth' ).each do |message|
					%li
						= message.content
				= form_for Message.new do |f|
					= f.hidden_field :agency_id, value: @agency.id
					= f.hidden_field :parent_obj_id, value: @phase.id
					= f.hidden_field :parent_obj_type, value: @phase.class.name
					= f.hidden_field :context, value: 'growth'
					.row{ style: 'margin-top: 1em;' }
						.col-xs-8
							= f.text_field :content, class: 'form-control'
						.col-xs-4
							= f.submit 'Send', class: 'btn btn-primary'

				%h5 Recommendations
				- @agency.messages.where( parent_obj: @phase, context: 'recs' ).each do |message|
					%li
						= message.content
				= form_for Message.new do |f|
					= f.hidden_field :agency_id, value: @agency.id
					= f.hidden_field :parent_obj_id, value: @phase.id
					= f.hidden_field :parent_obj_type, value: @phase.class.name
					= f.hidden_field :context, value: 'recs'
					.row{ style: 'margin-top: 1em;' }
						.col-xs-8
							= f.text_field :content, class: 'form-control'
						.col-xs-4
							= f.submit 'Send', class: 'btn btn-primary'
			.well
				%h4
					Receptivity to New Treatment
				- @agency.messages.where( parent_obj: @phase, context: 'receptivity' ).each do |message|
					%li
						= message.content
				= form_for Message.new do |f|
					= f.hidden_field :agency_id, value: @agency.id
					= f.hidden_field :parent_obj_id, value: @phase.id
					= f.hidden_field :parent_obj_type, value: @phase.class.name
					= f.hidden_field :context, value: 'receptivity'
					.row{ style: 'margin-top: 1em;' }
						.col-xs-8
							= f.text_area :content, class: 'form-control'
						.col-xs-4
							= f.submit 'Send', class: 'btn btn-primary'


		.col-sm-5
			.well
				= form_for @agency do |f|
					= f.hidden_field :status, value: @agency.status
					%h4 Phase 1 Progress
					- if @agency.responses.where( question_id: 1 ).last.try( :content ) == 'yes' 
						%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
					- else
						%i.fa.fa-circle-o{ style: 'font-size:130%;'}
					Step 1:
					
					Complete the Agency Assessment
					.form-group
						= check_box_tag :assessment_complete, 'yes', @agency.responses.where( question_id: 1 ).last.try( :content ) == 'yes'
						Assessment Complete?
					
					- if @agency.responses.where( question_id: 2 ).last.try( :content ) == 'yes'
						%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
					- else
						%i.fa.fa-circle-o{ style: 'font-size:130%;'}
					Step 2:
					Receptivity to new Treatment
					.form-group
						= check_box_tag :receptive_to_treatment, 'yes', @agency.responses.where( question_id: 2 ).last.try( :content ) == 'yes'
						Receptive to Treatment?
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'

			
			.well
				%h4
					What's Next

				- @agency.messages.where( parent_obj: @phase, context: 'next' ).each do |message|
					%li
						= message.content
				= form_for Message.new do |f|
					= f.hidden_field :agency_id, value: @agency.id
					= f.hidden_field :parent_obj_id, value: @phase.id
					= f.hidden_field :parent_obj_type, value: @phase.class.name
					= f.hidden_field :context, value: 'next'
					.row{ style: 'margin-top: 1em;' }
						.col-xs-8
							= f.text_field :content, class: 'form-control'
						.col-xs-4
							= f.submit 'Send', class: 'btn btn-primary'








