#new_task.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add Task
			= form_for Task.new do |f|
				.modal-body
					.form-group
						= f.label :name
						= f.text_field :name, class: 'form-control'
					.form-group.col-xs-6
						= f.label :due_at
						= f.text_field :due_at, class: 'form-control datepicker'
					.clearfix
					.form-group
						= f.text_area :content, class: 'form-control'

				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'