=form_for task do |f|
	%tr.taskEval.upperSection
		%td{colspan:3}
			How satisfied is your team with how this activity was completed?
		%td
			Satisfied
			= f.radio_button :satisfaction_level, "Satisfied", class: 'pull-right'
			%br
			Somewhat Satisfied
			= f.radio_button :satisfaction_level, "Somewhat Satisfied", class: 'pull-right'
			%br
			Not Satisfied
			= f.radio_button :satisfaction_level, "Not Satisfied", class: 'pull-right'
		%tr.taskEval
			%td{colspan:4}
				= f.text_field :concerns, placeholder: "Enter any concerns here"

				= f.submit class: 'btn btn-sm btn-primary pull-right taskEvalClose', value: 'Submit feedback'
