=form_for task do |f|
	%tr.taskEval.upperSection
		%td{colspan:3}
			What did you think of the task?
		%td
			Great
			= f.radio_button :satsifaction_level, "Great", class: 'pull-right'
			%br
			OK
			= f.radio_button :satsifaction_level, "OK", class: 'pull-right'
			%br
			Poor
			= f.radio_button :satsifaction_level, "Poor", class: 'pull-right'
		%tr.taskEval
			%td{colspan:4}
				= f.text_field :concerns, placeholder: "Enter any concerns here"

				= f.submit class: 'btn btn-sm btn-primary pull-right taskEvalClose', value: 'Submit feedback'
