
.container
	.row
		.col-sm-12
			%h1
				Hi
				= current_user


	%a.btn.btn-success.pull-right{ { data: { toggle: :modal, target: '#new_agency' } } }
		Add Agency

	- if @agencies.present?
		%table.table
			%thead
				%th
					Name
				%th
					Facilitator
				%th
					Lead
				%th
					Team Members

			%tbody
				- @agencies.each do |agency|
					%tr
						%td
							= link_to agency.name, edit_agency_path( agency )
						%td
							= agency.facilitator
						%td
							= agency.lead
						%td
							= agency.users.count





= render 'agencies/new_modal'