
.container
	.row
		.col-sm-12
			%h1
				Hi
				= current_user.name.titleize
	.row
		.col-sm-10
			= form_tag admin_index_path, method: :get, class: 'form-inline' do
				= select_tag :facilitator_id, options_from_collection_for_select( User.admin, :id, :name, params[:facilitator_id] ), prompt: 'All', class: 'form-control'
				= submit_tag 'Filter', class: 'btn btn-primary'
		.col-sm-2
			


	%a.btn.btn-success.pull-right{ { data: { toggle: :modal, target: '#new_agency' } } }
		Add Agency

	- if @agencies.present?
		%table.table
			%thead
				%th
					Name
					%a{ href: admin_index_path( sort_by: 'name', sort_dir: 'asc' ) }
						%i.fa.fa-arrow-up
					%a{ href: admin_index_path( sort_by: 'name', sort_dir: 'desc' ) }
						%i.fa.fa-arrow-down
				%th
					Joined
					%a{ href: admin_index_path( sort_by: 'created_at', sort_dir: 'asc' ) }
						%i.fa.fa-arrow-up
					%a{ href: admin_index_path( sort_by: 'created_at', sort_dir: 'desc' ) }
						%i.fa.fa-arrow-down
				%th
					Facilitator
				%th
					Lead
				%th
					Team Members
				%th
				%th
				%th

			%tbody
				- @agencies.each do |agency|
					%tr
						%td
							= link_to agency.name, edit_agency_path( agency )
						%td
							= time_ago_in_words agency.created_at
							ago
						%td
							- if agency.facilitator != nil
								= agency.facilitator.name.titleize
						%td
							- if agency.users.present?
								- if agency.lead.present?
									= agency.lead.name.titleize
						%td
							= agency.users.count
						%td
							%a{ href: edit_agency_path( agency ) }
								%i.fa.fa-pencil
								Edit
						%td
							%a{ href: agency_progress_path( agency ) }
								%i.fa.fa-eye
								Review Progress
						%td
							%a.btn.btn-danger{ href: agency_path( agency ), data: { method: :delete, confirm: 'Are you sure?' } }
								%i.fa.fa-trash-o
								Delete
	- else
		%h3 No Agencies



= render 'agencies/new_modal'