%table.table.table-bordered	
	%thead
		%th
			Specify reason(s) for the adaptation
		%th
			Identify any specific concerns about the adaptation
		%th
			How will concerns be addressed?
		%th
			Specify how the adaptation will be made
		%th
			Who will carry out the adaptation?
	%tbody
		%tr
		= form_tag update_individual_treatment_adaptations_path, :method => "put", :id => "adaptationForm" do |f|	
			- for treatment_adaptations in @current_agency.treatment_adaptations.order('created_at ASC')
				=fields_for "treatment_adaptations[]", treatment_adaptations do |f|
					%tr
						%td
							= f.check_box :reasons, :name => "reasons[]", multiple: true
							System-level factors (e.g., funding/resources, internal or contracted services, politics, policies)
						%tr
						%td
							= f.check_box :reasons, :name => "reasons[]", multiple: true
							Organization-level factors (e.g., training space and resources, session time, treatment duration, agency philosophy/fit)
						%tr
						%td
							= f.check_box :reasons, :name => "reasons[]", multiple: true
							Provider factors (e.g., education level, discipline, experience, receptivity to innovation, attitudes towards innovation)
						%tr
						%td
							= f.check_box :reasons, :name => "reasons[]", multiple: true
							Client characteristics (e.g., age, developmental age, ASD diagnosis, severity, culture, language, comorbid problems)
						%tr
						%td
							Other factors:
							= f.text_field :reasons, :name => "reasons[]", multiple: true
						%tr
						%td
							Other factors:
							= f.text_field :concerns
							
			= submit_tag 'Save', class: 'btn btn-primary'