.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to @agency.name, agency_path( @agency )
				%li
					Edit
.container
	.row
		.col-sm-12
			%h1
				Edit
				= @agency.name

	.row
		= form_for @agency do |f|
			.col-sm-8
				.form-group
					= f.label :name
					= f.text_field :name, class: 'form-control'
				.form-group
					= f.label :description
					= f.text_area :description, class: 'form-control'
				.form-group
					= f.label :address1
					= f.text_field :address1, class: 'form-control'
				.form-group
					= f.label :address2
					= f.text_field :address2, class: 'form-control'
				.row.form-group
					.col-sm-6
						= f.label :city
						= f.text_field :city, class: 'form-control'
					.col-sm-4
						= f.label :state
						= f.text_field :state, class: 'form-control'
					.col-sm-2
						= f.label :zip
						= f.text_field :zip, class: 'form-control'
				.form-group
					= f.label :phone
					= f.text_field :phone, class: 'form-control'
			.col-sm-4
				.well
					.form-group
						= f.label :facilitator_id
						= f.collection_select :facilitator_id, User.admin, :id, :name, {}, class: 'form-control'
					%hr
					.form-group
						%label{ for: :agency_lead_id }
							.pull-right{ style: 'margin-left:4em;' }
								%a.btn.btn-sm.btn-success{ data: { toggle: :modal, target: '#new_user' } }
									Add
							Lead
					- if @agency.users.exists?
						= select_tag :lead_id, options_from_collection_for_select( @agency.users, :id, :name, @agency.lead.id ), class: 'form-control'

					%hr
						.form-group
							= check_box_tag :assessment_complete, 'yes', @agency.responses.where( question_id: 1 ).last.try( :content ) == 'yes'
							Assessment Complete?
						.form-group
							= check_box_tag :receptive_to_treatment, 'yes', @agency.responses.where( question_id: 2 ).last.try( :content ) == 'yes'
							Receptive to Treatment?
					%hr
						.form-group
							= f.label :status
							= f.collection_select :status, Agency.statuses, :first, :first, {}, class: 'form-control'
					%hr
					.form-group
						= f.submit class: 'btn btn-primary'


%br
%br
%br
%br
		

= render 'users/new_modal', args: { agency_id: @agency.id, lead: true }