
.container
	.row
		.col-xs-4
			%center= image_tag 'logo_sq.png', style: 'margin: 2em 0;', class: 'img img-responsive'

			.well
				.panel-heading
					%h3.panel-title
						Sign In

				.panel-body
					= form_for User.new, as: :user, url: session_path( :user ) do |f|
						.row
							.form-group.col-md-12
								.input-group
									.input-group-addon
										%i.fa.fa-user
									= f.text_field :login, autofocus: true, placeholder: "email", class: 'form-control'
						.row
							.form-group.col-md-12
								.input-group
									.input-group-addon
										%i.fa.fa-key
									= f.password_field :password, placeholder: "password", class: 'form-control'

						.input-group.col-md-12
							.pull-right= f.submit "Sign in", class: 'btn btn-primary'

		.col-xs-8
			%h1
				Welcome to Act SMART

			%p
				The Autism-Community Toolkit: Systems toMeasure and Adopt Research-based Treatments (ACT SMART) is a comprehensive toolkit developed for agencies that provide services to individuals with autism spectrum disorder (ASD). ACT SMART assists agencies successfully implement new research-based treatments.
			%p
				Specifically, ACT SMART:
				%ul
					%li 
						%i
							Assists 
						in identifying training and service delivery gaps and selecting effective treatments to meet agency-wide needs.
					%li
						%i
							Facilitates 
						treatment adoption decisions.
					%li
						%i
							Guides 
						designing effective training and implementation strategies.
					%li
						%i
							Supports 
						efforts that will sustain use of effective treatments.
			%br
			%p
				.video-container
					%iframe{ width: 560, height: 315, src: "//www.youtube.com/embed/nlEDHwChto4", frameborder: 0, allowfullscreen: true }
			%br
			%br
			%br