.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 1', phase_step_path( @phase, @step )
				%li
					Activity 3: Treatment Adaptations Table
	.row
		.col-sm-12
			%h1
				Activity 3: Treatment Adaptations Table
				= link_to image_tag("csv.png", :height => 25), {:format => :csv }
			%p
				To review instructions, see
				= link_to 'Phase 3 Step 1 guide', phase_step_path( @phase, @step )

			- if @current_agency.treatment_adaptations.where( not_doing_adaptation: 'false').count == 0 && @current_agency.treatment_adaptations.where( not_doing_adaptation: 'dk').count == 0
				Please complete 
				= link_to 'Activity 3.1.2', '/phases/3/steps/6/activities/12'
				to populate required forms below.
			- else
				= form_tag update_individual_treatment_adaptations_path, :method => "put", :id => "myAdaptationsForm" do |f|	
					- for treatment_adaptations in @current_agency.treatment_adaptations.order('created_at ASC')
						=fields_for "treatment_adaptations[]", treatment_adaptations do |f|
							- if treatment_adaptations.not_doing_adaptation != 'true'
								%h4
									= treatment_adaptations.name
								%br
								%table.table.table-bordered	
									%thead
										%th
											Specify reason(s) for the adaptation
										%th{"data-toggle" => "tooltip", "data-container" => "body", "title" => "To help identify potential concerns, consult with others who are knowledgeable about the agency and/or the research-based treatment (e.g., adaptation team, implementation team, stakeholders/consumers, agency staff, treatment developers, etc.). Pay particular attention to any concerns that adaptations will impact the effectiveness of the intervention."}
											Identify any specific concerns about the adaptation
										%th
											How will concerns be addressed?
										%th{"data-toggle" => "tooltip", "data-container" => "body", "title" => "Detail the specific steps of each adaptation that will be made. This may include the content or context of the treatment that will be adapted (e.g., the treatment modules will be reordered so that module three will precede module two.)."}
											Specify how the adaptation will be made
										%th
											Who will carry out the adaptation?
									%tbody
										%tr
											%td
												= f.check_box :system_level
												System-level factors (e.g., funding/resources, internal or contracted services, politics, policies)
												%br
												= f.check_box :org_level
												Organization-level factors (e.g., training space and resources, session time, treatment duration, agency philosophy/fit)
												%br
												= f.check_box :provider_factors
												Provider factors (e.g., education level, discipline, experience, receptivity to innovation, attitudes towards innovation)
												%br
												= f.check_box :client_chars
												Client characteristics (e.g., age, developmental age, ASD diagnosis, severity, culture, language, comorbid problems)
												%br
												= f.text_area :other_reasons
											%td
												= f.radio_button :concerns, true
												True
												%br
												= f.radio_button :concerns, false
												False
												%br
												%br
												List concerns:
												= f.text_area :other_concerns
											%td
												= f.check_box :proceed_with_plan
												Proceed with adaptation plan
												%br
												= f.check_box :seek_further_consultation
												Seek further consultation
												%br
												= f.check_box :address_concern
												Address concern
												%br
												%br
												If "Address concern" chosen, please list how:
												%br
												= f.text_area :address_concern_text
											%td
												= f.text_area :adaptation_details, :rows => 10
											%td
												= f.check_box :treatment_developer
												Treatment Developer
												%br		
												= f.check_box :researcher
												Researcher
												%br		
												= f.check_box :agency_leader
												Agency Leader
												%br		
												= f.check_box :supervisor
												Supervisor
												%br	
												= f.check_box :direct_provider
												Direct Provider
												%br	
												= f.check_box :implementation_team
												Implementation Team
												%br	
												%br
												Other:
												%br
												= f.text_area :other_implementer
										%tr
											%td{ :colspan => '5' }
												= f.radio_button :not_doing_adaptation, 'true'
												No longer planning to conduct this adaptation
												%br
												= f.radio_button :not_doing_adaptation, 'false'
												Still going forward with adaptation
												%br
												= f.radio_button :not_doing_adaptation, 'dk'
												Uncertain

					= submit_tag 'Save', class: 'btn btn-primary'