.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 3', phase_step_path( @phase, @step )
				%li
					Activity 1: Relationship Based Strategies
	.row
		.col-sm-12
			%h1
				Activity 1: Relationship Based Strategies
			%p
				The focus of relationship-based strategies is to develop agency leader characteristics, staff buy-in, and partnerships that encourage and support the use of the selected practice or strategy. 
			%table.table.table-bordered	
				%thead
					%th
						Specific strategies
					%th
						Strategy considerations	
					%th
						Selected for use
					%th
						Specify how this strategy would be done?
					%th
						Who will carry out this plan?
				%tbody
					%tr
						%th{:colspan => "5"}
							Build Agency Leader Characteristics to Support Innovation Acceptance and Use
				= form_tag update_individual_treatment_strategies_path, :method => "put" do |f|	
					= for treatment_strategies in @current_agency.treatment_strategies.order('created_at DESC')
						=fields_for "treatment_strategies[]", treatment_strategies do |f|
							%tr
								%td
									= f.text_field :name
								%td
									Use Currently
									= f.check_box :use_currently
									Feasible
									= f.check_box :feasible
									Previous success
									= f.check_box :previous_success	
									Recommended
									= f.check_box :recommended
								%td.text-center
									= f.check_box :selected
								%td
									= f.text_field :specifics
								%td
									= f.text_field :implementer

					= submit_tag 'Save', class: 'btn btn-primary'