.container
	.row
		.col-sm-12
			.alert.alert-success#customFlash{:style => 'display:none'}
				%span
					Treatments updated
					%btn.close#closeFlash
						&times;
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					= link_to 'Step 1', phase_step_path( @phase, @step )
				%li
					Resource 2: Treatment Selection
	.row
		.col-sm-12
			%h1
				Resource 1: Treatment Selection
				= link_to image_tag("csv.png", :height => 25), {:format => :csv }
	.row
		.col-sm-12
			%table.table.table-bordered
				%thead
					%th.custom-width-header-1
						Treatment Being Considered
					%th.custom-width-header-1
						Selected for Adoption
				%tbody
					= form_for @agency_treatment do |f|
						%tr
							%td
								Behavioral
							%td
								= f.radio_button :chosen_treatment, "Behavioral", :class => 'radioButtonList', :class => 'radioButtonList', :class => 'radioButtonList'
						%tr
							%td
								Mental Health
							%td
								= f.radio_button :chosen_treatment, "Mental Health", :class => 'radioButtonList', :class => 'radioButtonList', :class => 'radioButtonList'
						%tr
							%td
								Psychosocial
							%td
								= f.radio_button :chosen_treatment, "Psychosocial", :class => 'radioButtonList', :class => 'radioButtonList'
						%tr
							%td
								Substance Abuse
							%td
								= f.radio_button :chosen_treatment, "Substance Abuse", :class => 'radioButtonList'
						%tr
							%td
								Educational
							%td
								= f.radio_button :chosen_treatment, "Educational", :class => 'radioButtonList'
						%tr
							%td
								Physical Health
							%td
								= f.radio_button :chosen_treatment, "Physical Health", :class => 'radioButtonList'
						%tr
							%td
								ASD Treatment
							%td
								= f.radio_button :chosen_treatment, "ASD Treatment", :class => 'radioButtonList'

						= submit_tag 'Save', class: 'pull-right btn btn-sm btn-primary', :style => 'display:none;'