-# The Resource
.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 2', phase_path( 2 )
				%li
					= link_to 'Step 1', phase_step_path( @phase, @step )
				%li
					Resource 1
	.row
		.col-sm-12
			%h1
				Guide to Identify Research-Based Treatments
			%p
				Several web-based resources provide information on research-based treatments. The purpose of this table is to assist with locating and identifying a research-based treatment for your agency. 

			%table.table.table-bordered
				%thead
					%th
						Resource
					%th
						Description
					%th
						Specificity to ASD
					%th
						Tools Provided
				%tbody
					%tr
						%td
							%p
								= link_to (image_tag 'IMPAQlogo.jpg', class: 'img-responsive'), 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf'
							%br
							%a{ href: 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf' }
								Autism Spectrum Disorders (ASDs) Services 
								Final Report on Environmental Scan 
						%td
							Provide information on the scientific evidence regarding the effectiveness, safety, and quality of services and supports for children, transitioning youth, and adults with ASD.
						%td
							Yes
						%td
							%a{ href: 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf' }
								Cost-benefit analyses
					%tr
						%td
							%p
								= link_to (image_tag 'NPDClogo.jpg', class: 'img-responsive'), 'https://www.impaqint.com/sites/default/files/project-reports/Autism_Spectrum_Disorders.pdf'
							%br
							%a{ href: 'http://autismpdc.fpg.unc.edu/content/ebp-update' }
								National Professional Development Center on Autism
						%td
							Promote the use of evidence- based practice for children and adolescents with ASD through the systematic review of literature.
						%td
							Yes
						%td
							%p 
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/learning-modules-menu' }
									Treatment Learning Modules
							%p 
								%a{ href: 'http://autismpdc.fpg.unc.edu/node/727' }
									Treatment Fact Sheets
							%p
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/briefs' }
									Treatment Guides/Briefs
							%p
								%a{ href: 'http://autismpdc.fpg.unc.edu/content/autism-internet-modules-aim' }
									Autism Internet Modules

					%tr
						%td
							%p
								= link_to (image_tag 'NREPPlogo.jpg', class: 'img-responsive'), 'http://www.nrepp.samhsa.gov/'
							%br
							%a{ href: 'http://www.nrepp.samhsa.gov/' }
								National Registry of Evidence-based Programs and Practices (NREPP)
						%td
							A searchable online registry of substance abuse and mental health interventions so the public can learn more about evidence- based interventions available for use.
						%td
							No, but include ASD related treatments
						%td 
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/LearningModules.aspx' }
									Treatment Learning Modules
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/pdfs/identifyingandselecting.pdf' }
									Resource to identify and select a treatment
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/pdfs/NIRN-TheHexagonTool_0.pdf' }
									Resource to evaluate context
							%p
								%a{ href: 'http://www.nrepp.samhsa.gov/AboutGlossary.aspx' }
									Glossary
					%tr
						%td
							%p
								= link_to (image_tag 'NAClogo.jpg', class: 'img-responsive'), 'http://www.nationalautismcenter.org/nsp/reports.php'
							%br
							%a{ href: 'http://www.nationalautismcenter.org/nsp/reports.php' }
								National Standards Project
						%td
							Providing information and guidance about evidence-based practices available for children, adolescents, and adults with ASD.
						%td
							Yes
						%td
							N/A
					%tr
						%td
							%p
								= link_to (image_tag 'PracticeWiselogo.jpg', class: 'img-responsive'), 'http://practicewise.com/#home'
							%br
							%a{ href: 'http://practicewise.com/#home' }
								PracticeWise
						%td
							Systematically reviews intervention evidence and uses information technology to advance behavioral and mental health care.
						%td
							No, but includes ASD related treatments
						%td
							%p
								Treatment Database
							%p
								Treatment Guides/Briefs
							%p
								Managing and Adapting Practice System
					%tr
						%td
							%p
								= link_to (image_tag 'PPNlogo.jpg', class: 'img-responsive'), 'http://www.promisingpractices.net'
							%br
							%a{ href: 'http://www.promisingpractices.net' }
								Promising Practices Network
						%td
							Archived website that provides information on what interventions are effective to improve quality of life for children and families.
						%td
							No
						%td
							%a{ href: 'http://www.promisingpractices.net/programs.asp' }
								Treatment Database

							%a{ href: 'http://www.promisingpractices.net/issuebriefs.asp' }
								Issue Briefs
					%tr
						%td
							%p
								= link_to (image_tag 'ResearchAutismlogo.jpg', class: 'img-responsive'), 'http://www.researchautism.net/'
							%a{ href: 'http://www.researchautism.net/' }
								Research Autism
						%td
							Promoting autism treatments, therapist and approaches that are supported with high-quality research.
						%td
							Yes
						%td
							%p
								%a{ href: 'http://www.researchautism.net/autism-interventions/our-evaluations-interventions' }
									Treatment Database
							%p
								%a{ href: 'http://www.researchautism.net/autism-interventions/our-evaluations-interventions' }
									Glossary
							%p	
								%a{ href: 'http://www.researchautism.net/autism/autism-resources/autism-publications' }
									Autism Publications
%br
%br



































