.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 2', phase_step_path( @phase, @step )
				%li
					Activity 1
	.row
		.col-sm-12
			%h1
				Activity 1: Training Plan

			%p
				When implementing a new practice, training is a crucial step in ensuring the innovation is implemented correctly.  The purpose of this worksheet is to assist with developing a plan to train staff in the research-based treatment you are implementing. The questions below are designed to take a systematic approach to address training details such as staff involvement, scheduling, travel, maintenance and sustained use of the intervention or practice. Refer to the Evaluating Training Requirements worksheet completed in the previous phase to ensure that any training requirements that may exist are incorporated into the training plan.
			%p
			= form_tag responses_path do
				= hidden_field_tag :activity_id, @activity.id
				%h4
				1)	Will you be using a train-the-trainer model (e.g., one person or a small group of people receive training from an outside trainer and then they train the rest of the staff in their agency)? If yes, complete the External Training Plan only for staff who will be trained outside of the agency and the Internal Training Plan for staff who will be trained within the agency.
				-#Add links for training plans
				%p
					= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 1 ).id}]", :yes, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 1 ).id ).first.try( :content ) == 'yes'
					Yes
					%span{ style: 'margin: auto 0.5em;' }
					= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 1 ).id}]", :no, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 1 ).id ).first.try( :content ) == 'no'
					No
					%span{ style: 'margin: auto 0.5em;' }
					= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 1 ).id}]", :dk, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 1 ).id ).first.try( :content ) == 'dk'
					Don't Know
				2)	Where is training going to be delivered?
				-#Add links for training plans
				%p 
					- @activity.questions.find_by( seq: 2 ).prompts.each do |prompt|
						.separator
							= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 2 ).id}][]", prompt.content, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 2 ).id ).pluck( :content ).include?( prompt.content )
							= prompt.content
				
				%h4
					External Training Plan
				%h5
					Staff Involved
				%p
					1)  What staff will be trained? (Select all that apply)
					-#Notes request field to fill in names of users if less than 10. Necessary?
				%p
					- @activity.questions.find_by( seq: 3 ).prompts.each do |prompt|
						.separator
							= check_box_tag "question_answers[#{@activity.questions.find_by( seq: 3 ).id}][]", prompt.content, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 3 ).id ).pluck( :content ).include?( prompt.content )
							= prompt.content
					.separator
						Other
						= text_field_tag "question_answers[#{@activity.questions.find_by( seq: 4 ).id}]", @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 4 ).id ).first.try( :content )
					.separator
						= check_box_tag "question_answers[#{@activity.questions.find_by( seq: 3 ).id}][]", 'dk', @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 3 ).id ).pluck( :content ).include?( 'dk' )
						No requirements specified

				2)	How many staff will be trained?
				%p
					= number_field_tag "question_answers[#{@activity.questions.find_by( seq: 5 ).id}]", @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 5 ).id ).first.try( :content )

				3)	Who will be providing the training?
				%p
					= text_field_tag "question_answers[#{@activity.questions.find_by( seq: 6 ).id}]", @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 6 ).id ).first.try( :content )		
				%h5
					Preparation
				%p				
					1) Will staff be required to prepare for training outside of the scheduled training sessions? (i.e., reading materials or practicing with client). If staff will be required to prepare for trainings, please complete question 2. Otherwise, proceed to the Scheduling Training section.
				%p					
					= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 7 ).id}]", :yes, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 7 ).id ).first.try( :content ) == 'yes'
					Yes
					%span{ style: 'margin: auto 0.5em;' }
					= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 7 ).id}]", :no, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 7 ).id ).first.try( :content ) == 'no'
					No
					%span{ style: 'margin: auto 0.5em;' }
					= radio_button_tag "question_answers[#{@activity.questions.find_by( seq: 7 ).id}]", :dk, @current_agency.responses.where( question_id: @activity.questions.find_by( seq: 7 ).id ).first.try( :content ) == 'dk'
					Don't Know		




				= submit_tag 'Save', class: 'btn btn-primary'
