.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					= link_to 'Phase 3', phase_path( 3 )
				%li
					= link_to 'Step 1', phase_step_path( @phase, @step )
				%li
					Activity 2
	.row
		.col-sm-12
			%h1
				Activity 2: Evaluating Prospective Adaptations to the Treatment

			%p
				When adapting a research-based treatment you are considering adopting and implementing at your agency, it is important to consider and anticipate the types of adaptations you will be making to the treatment. The checklist below is a series of questions about potential adaptations to the treatment you are considering in order to make well-informed decisions for your Treatment Adaptation Plan.

			%p
				In the broadest sense, adaptations can include modifications to the: 

			%ul
				%li
					Content: How components of the treatment are delivered.
				%li
					Context: How the overall treatment is delivered.
			%p{ style: 'font-weight:bold;' }
				Gather treatment resources to assist in considering what potential adaptations may be needed. 

			%p
				Treatment resources may include treatment manuals, materials, and information about treatment implementation. The 
				%a{ href: '' }
					Instructions for Identifying and Selecting ASD Treatments 
				provides guidance on how to access many of these resources. 

			%p{ style: 'font-weight:bold;' }
				Do you anticipate making the following content adaptations to the intervention you are considering at your agency: 

			%table.table
				%thead
					%th
					%th
					%th
						Yes
					%th
						No
					%th
						DK
				%tbody
				-i = 0
				= form_tag update_individual_treatment_adaptations_path, :method => "put", :id => "myAdaptationsList" do |f|	
					- for treatment_adaptations in @current_agency.treatment_adaptations.order('created_at ASC')
						=fields_for "treatment_adaptations[]", treatment_adaptations do |f|
							- i +=1
							%tr
								%td
									= i
								%td{ :class=> "col-md-11" }
									= treatment_adaptations.content
								%td
									= f.radio_button :not_doing_adaptation, 'false'
								%td 
									= f.radio_button :not_doing_adaptation, 'true'
								%td 
									= f.radio_button :not_doing_adaptation, 'dk'
							- if i == 14
								%tr
									%td{ :colspan => 5}
										%h5
											Do you anticipate making the following context adaptations to the intervention you are considering at your agency:
					= submit_tag 'Save', class: 'btn btn-primary', :style => "display:none;"
					
			%btn.btn.btn-primary#adaptationsList
				Save
















