.container
	.row
		.col-sm-12
			.alert.alert-success#customFlash{:style => 'display:none'}
				%span
					Tasks updated
					%btn.close#closeFlash
						&times;
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					Phase 4

	.row
		.col-sm-12
			%h1
				Phase 4: Implementation and Sustainment
			%p
				<u>Goal</u>:
				Assist the implementation team track progress toward completing the Implementation plan, and guide the evaluation of the identified action steps.
	.row
		.col-sm-7
			.well
				%h5
					General Description
				%p
					The purpose of phase 4 is to track and evaluate the progress of adapting, training, and implementing the research-based treatment your agency has selected to adopt. This phase is comprised of three steps that will result in the initial and sustained use of this new research-based treatment. 
				%p
					These steps include: 
					%ol
						%li
							Treatment Adaptation
						%li
							Staff Training, and 
						%li
							Treatment Implementation and Sustainment.

				%p
					The implementation team will be asked to complete the “Action Step Evaluation” after each action step has been completed or when the scheduled date for the action step has passed. 
				%p
					The evaluation survey will allow the implementation team to reflect on the progress being made. If the progress is considered to be positive, the implementation team can continue to follow the plans that were previously designed. If the progress is considered to be neutral or challenging, the evaluation will guide the implementation to consider and make changes to the adaptation, training, and implementation plans. This can be done in an ongoing manner. 


		.col-sm-5
			.well#wellPadding
				%h4 Phase 4 Progress
				- if @current_agency.tasks.active.empty?
					No Tasks
					%br
					%br
				- else
					%table.table
						%thead
							%th
							%th
								Task
							%th
								Due
							%th
								Assigned
						%tbody
							- @current_agency.tasks.overdue.each do |task|
								= form_for task, remote:true do |f|
									%tr{style: 'color:red;'}
										%td
											= f.check_box :completed, :class => "taskCheckbox openTaskCheckbox"
										%td
											= link_to task.name, '/tasks/'+task.id.to_s+'/edit', :style => 'color:red;'
										%td
											= task.due_at.to_date.strftime( "%m-%d-%Y" ) if task.due_at.present?
										%td
											= task.assigned_to if task.assigned_to.present?

									= render 'tasks/short_task_eval', :task => task

							- @current_agency.tasks.incomplete.each do |task|
								= form_for task, remote:true do |f|
									%tr
										%td
											= f.check_box :completed, :class => "taskCheckbox openTaskCheckbox"
										%td
											= link_to task.name, '/tasks/'+task.id.to_s+'/edit'
										%td
											= task.due_at.to_date.strftime( "%m-%d-%Y" ) if task.due_at.present?
										%td
											= task.assigned_to if task.assigned_to.present?

									= render 'tasks/short_task_eval', :task => task

							- @current_agency.tasks.completed.each do |task|
								= form_for task do |f|
									%tr{style: 'text-decoration: line-through; color: grey;'} 
										%td
											= f.check_box :completed, :class => "taskCheckbox", checked_value: "active"
										%td
											= link_to task.name, '/tasks/'+task.id.to_s+'/edit', style: 'text-decoration: line-through; color: grey;'
										%td
											= task.due_at.to_date.strftime( "%m-%d-%Y" ) if task.due_at.present?
										%td
											= task.assigned_to if task.assigned_to.present?



				%a.btn.btn-success.pull-left#addTaskBtn{ data: { toggle: :modal, target: '#new_task' } }
					Add

	.row
		.col-sm-12
			.well
				%h5
					Chosen Treatment:
					= @current_agency.agency_treatments.first.chosen_treatment
						



= render 'tasks/new_modal'