.container
	.row
		.col-sm-12
			%ol.breadcrumb
				%li
					= link_to 'Dashboard', dashboard_index_path
				%li
					Phase 1

	.row
		.col-sm-12
			%h1
				Phase 1: Identify Practice & Delivery Gaps
			%p.larger
				<u>Goal</u>:
				Identify your agency’s areas of strength and areas of growth, and determine your agency’s receptivity to implementing a new research-based treatment.
	.row
		.col-sm-7
			.well
				%h4
					General Description
				%p
					There are two goals of Phase 1:
					%ul
						%li
							Identify your agencies areas of strength and possible growth. 
						%li
							Determine your agency's receptivity to implementing a new research-based treatment to meet this need and build on your strengths.
				%p
					Agency leaders, supervisors, and direct providers at your agency will be asked to complete the confidential ACT SMART Agency Assessment. An additional option is for each of your agency’s clients or caregivers of clients to complete the Caregiver Survey. 
				%p
					ACT SMART facilitators will analyze the data and provide specific feedback to your agency including: areas of strength, areas of growth, recommendations for next steps, and guidance about prioritizing agency goals.

			.well
				%h4
					Agency Assessment Outcomes and Recommendations

				%h5 Areas of Strength
				- @current_agency.messages.where( parent_obj: @phase, context: 'strength' ).each do |message|
					%li
						= message.content

				%h5 Areas for Growth
				- @current_agency.messages.where( parent_obj: @phase, context: 'growth' ).each do |message|
					%li
						= message.content
				

				%h5 Recommendations
				- @current_agency.messages.where( parent_obj: @phase, context: 'recs' ).each do |message|
					%li
						= message.content

		.col-sm-5
			.well
				%h4 Phase 1 Progress
				- if @current_agency.responses.where( question_id: 1 ).last.try( :content ) == 'yes' 
					%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
				- else
					%i.fa.fa-circle-o{ style: 'font-size:130%;'}
				Step 1:
				%a{ href: phase_step_path( @phase, @phase.steps.first ) }
					Complete the Agency Assessment
				%ul
					%li
						Determine which staff are eligible to complete the Agency Assessment.
					%li
						Provide the ACT SMART facilitator with your staff’s information.
					%li
						Encourage your staff to complete the online Agency Assessment.
					%li
						Optional: Ask caregivers to complete the Caregiver Survey
				
				- if @current_agency.responses.where( question_id: 2 ).last.try( :content ) == 'yes'
					%i.fa.fa-check-circle-o{ style: 'color:#3a3;font-size:150%;'}
				- else
					%i.fa.fa-circle-o{ style: 'font-size:130%;'}
				
				Step 2:
				%a{ href: phase_step_path( @phase, @phase.steps.second ) }
					Receptivity to new Treatment

				
			.well
				%h4
					Receptivity to New Treatment
				- @current_agency.messages.where( parent_obj: @phase, context: 'receptivity' ).each do |message|
					%li
						= message.content
			
			.well
				%h4
					What's Next
				- if @current_agency.responses.where( question_id: 1 ).last.try( :content ) == 'yes' && @current_agency.responses.where( question_id: 2 ).last.try( :content ) == 'yes'
					Completed!
				- elsif @current_agency.responses.where( question_id: 1 ).last.try( :content ) == 'yes'
					Step 2: Receptivity to New Treatment
				- else
					Step 1: Agency Assessment