

!!!strict

%html{ lang: :en }
	%head
		%title
			ActSMART
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

		%link{ rel: 'shortcut icon', href: asset_path( 'assets/favicon.ico ') }

		= stylesheet_link_tag    "application", media: "all"
		= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css"

		= javascript_include_tag "application"
		= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" => true
		
		
		= csrf_meta_tags

	%body{ style: 'padding-top: 60px;' }
		.wrapper
			- if @current_agency.present?
				= render 'application/agency_nav'
			- elsif current_user && current_user.admin?
				= render 'application/admin_nav'
			- else
				= render 'application/nav'
			= render 'application/flash'
		
			= yield
			%br
			%br
			.push

		= render 'application/footer'


					